.container{
    margin-bottom: 100px;
}

.orange-bg{
    background-color: #FEEAE9;
    border-radius: 10px;
}
.carousel-item{
    padding: 20px 40px;
}
.price{
  color: hsl(337, 100%, 54%);
}
.buy-now{
  background-image: linear-gradient(to bottom, #FF5898 0%, #FF136F 100%);
  color: #FFF;
  border: none;
  border-radius: 8px;
  padding: 9px 25px;
  cursor: pointer;
}
.cat1, .cat2, .cat3{
    padding: 10px 30px;
    border-radius: 10px;
}
.cat1{
    background-color: orange;
}
.cat2{
    background-color: orchid;
}
.cat3{
    background-color: blue;
}
.categories{
    color: white;
}
 .categories img{
     width: 100px;
 }
 .card{
     border: none;
     box-shadow: 5px 5px 10px lightgray;
 }
footer{
    text-align: center;
}

#contact-us{
    height: 300px;
}